html, body {
  height: 100%;
  margin: 0;
}

#background-canvas {
  background: #444;
}

#game-canvas, #background-canvas, #mouse-canvas {
  position: absolute;
  top: 0;
  left: 0;
}

#mouse-canvas {
  opacity: .4;
}

#mouse-click-element {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  background: rgb(232, 255, 131);
  display: none;
  will-change: transform, opacity;
}

#mouse-click-element.show {
  display: block;
  animation: mouse-click-pulse 1s infinite;
}

@keyframes mouse-click-pulse {
  0% {
    opacity: .4;
    transform: scale(.2);
  }
  70% {
    opacity: .2;
    transform: scale(1.4);    
  }
  100% {
    opacity: .4;
    transform: scale(.2);    
  }
}